<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Edit reservations</title>
</head>

<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div style=" position: fixed; top: 3.5em; left: 0; bottom: 0; right: 0; overflow: auto; background:url('http://www.hotel-grandmajestic.cz/files/hotel/conferences/hotel-majestic-prague-conference-room-grand-4-conference-and-events-02.jpg') no-repeat;">
	
		
		<form role="form" th:action="@{/editreservation}" th:object="${reservation}" method="POST" style="width:30%; margin-left: 6em; margin-top: 4em; background: rgba(0, 0, 0, 0.77);">
			
			<div class="form-group">
	
				<input name="reservationId" th:value="${reservation.id}" th:field="*{id}" type="hidden" />			
				<label  style="margin-top:1em; color: white; padding: 0 0 0 1em;"> Date: </label><br/>			
				<input name="date" th:value="${reservation.date}" style="margin-left: 1em; margin-right: 1em; width: 90%;"  th:field="*{date}"  type="date"/><br/>			
				<label style="color: white; padding: 1em 0 0 1em;"> Time: </label><br/>
				<input name="time" th:value="${reservation.time}" th:field="*{time}" style="margin-left: 1em; margin-right: 1em; width: 90%;"  type="time"/><br/>
				<input  name="userId" th:value="${reservation.user.id}" th:field="*{user.id}" style="margin-left: 1em; margin-right: 1em; width: 90%;" type="hidden"/><br/>
				<input name="roomId" th:value="${reservation.room.id}" type="hidden" th:field="*{room.name}" style="margin-left: 1em; margin-right: 1em; width: 90%;" placeholder="Enter room name"/>	<br/>		
				
			</div>
			
			<button type="submit" style="margin: 1em;"  class="btn btn-info" > Add reservation </button>
		
		</form>
		
	</div>

</body>
</html>