<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<form th:action="@{/deleteRoom}" th:object="${room}" method="POST">
			<h2>Confirm that you want to delete this room</h2>
		
			<input th:value="${room.id}" th:field="*{id}" type="hidden" />
			<input th:value="${room.name}" th:field="*{name}" type="hidden"/>
			<input th:value="${room.number}" th:field="*{number}" type="hidden"/>
			<input th:value="${room.startWorkTime}" th:field="*{startWorkTime}" type="hidden"/>
			<input th:value="${room.endWorkTime}" th:field="*{endWorkTime}" type="hidden"/>
			<button type="submit">Submit</button>
		</form>
	</div>

</body>
</html>